[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
altair = "*"
beautifulsoup4 = "*"
ebooklib = "*"
ipywidgets = "*"
jupyterlab = ">=1.0.0a0"
nltk = "*"
numpy = "*"
pandas = "*"
vega = "*"
vega-datasets = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
